INSERT INTO public.trips (id, user_id, title, destination, start_date, end_date) 
VALUES (gen_random_uuid(), (SELECT id FROM auth.users WHERE email = 'prod_evid@example.com'), 'Prod Evidence Trip', '{"name":"London"}', CURRENT_DATE + INTERVAL '1 day', CURRENT_DATE + INTERVAL '5 days');
